/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

a {
	text-decoration: none;
	color: black;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#applyChanges {
	height: 38px;
	width: 216px;
	background: #FFFFFF;
	border-radius: 60px;
	font-size: 14px;
}

#headerContent {
	display: flex;
	justify-content: space-between;
}

#applyChanges {
	height: 38px;
	width: 216px;
	background: #FFFFFF;
	border-radius: 60px;
	font-size: 14px;
}

#headerContent {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1140px;
	margin: auto;
	margin-top: 35px;
	width: 100%;
	max-width: 1140px;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	color: #B1663C;
}

nav img {
	margin-top: 5px;
	height: 20px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction label {
	display: flex;
	margin: auto;
	width: 80%;
	margin-top: 10px;
}

#introduction article {
	flex: 1;
	height: 245px;
	margin-top: -50px;
}

#introduction h2 {
	margin-bottom: 1em;
	margin-top: 30px;
}

#introduction p {
	margin-bottom: 0.5em;
}

main {
	max-width: 1140px;
	margin: auto;
}

#portfolioTitle {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

#portfolioTitle a {
	margin-top: 10px;
	margin-left: 10px;
}

main {
	max-width: 1140px;
	margin: auto;
}

#portfolioTitle {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

#portfolioTitle a {
	margin-top: 10px;
	margin-left: 10px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;
}

#filters {
	width: 55%;
	justify-content: space-around;
	display: flex;
	margin: auto;
	margin-bottom: 50px;
}

#filters button {
	color: #1D6154;
	background-color: white;
	border: solid 1px #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: none;
}

#filters button:hover {
	color: white;
	background-color: #1D6154;
}


#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contactForm {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.contactInput {
	font-size: 30px;
	padding: 10px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#message {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 10px;
}

#sendButton {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 15px;
	color: white;
	background-color: #1D6154;
	border: none;
	margin: 2em auto;
	width: 250px;
	height: 35px;
	text-align: center;
	border-radius: 60px;
}

#sendButton:hover {
	background-color: #0E2F28;
}

footer {
	display: flex;
	justify-content: end;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
	margin-top: 100px;
	font-family: Work Sans;
	font-size: 14px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*Page de connexion*/

#login {
	font-weight: 600;
}

#loginSection {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 150px;
}

#loginSection h2 {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

label {
	margin-bottom: 5px;
}

#connectionForm {
	display: flex;
	flex-direction: column;
}

.connectionInput {
	font-size: 30px;
	padding: 10px;
	margin-bottom: 30px;
	border-color: white;
	border: solid 1px white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connectButton {
	color: white;
	background: #1D6154;
	border: none;
	font-family: "Syne";
	border-radius: 60px;
	margin: auto;
	width: 179px;
	height: 36px;
	margin-bottom: 25px;
}

#connectButton:hover {
	background-color: #0E2F28;
}

#forgotPassword {
	color: black;
	text-decoration: underline;
}

/*Mod Admin*/

#editionBar {
	height: 59px;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
}

#editionBar i {
	color: white;
}

#editionBar p {
	margin: 10px;
}

#applyChanges {
	cursor: pointer;
	border: none;
}

#gallery img {
	margin-bottom: 5px;
}

#projectEdition {
	background-color: white;
	border: none;
	height: 20px;
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;

}

/*Modal de galerie*/

#projectModal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

#modalWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	overflow: auto;
	width: 630px;
	height: 80%;
	max-height: 600px;
	padding: 20px;
	border-radius: 10px;
}

#modalButton {
	display: flex;
	justify-content: flex-end;
	width: 95%;
}

#modalClose {
	background-color: white;
	border: none;
	color: black;
	width: 24px;
	height: 24px;
	font-size: 20px;
	cursor: pointer;
}

#modalTitle {
	font-weight: 400;
	font-size: 26px;
	color: black;
}

#editionGallery {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 70%;
	height: 70%;
	overflow: auto;
	margin-top: 40px;
	justify-content: space-between;
	border-bottom: 1px solid #B3B3B3;
}

.elementContainer {
	height: 130px;
}

#editionGallery figure {
	position: static;
	width: 78px;
	height: 100px;
	margin-bottom: 35px;
}

#editionGallery figure img {
	position: static;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.deleteElementButton {
	position: relative;
	left: 50px;
	bottom: 130px;
	z-index: 1;
	color: white;
	background-color: black;
	cursor: pointer;
	border: none;
}

#addProjectButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 237px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	color: white;
	border: none;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	margin-top: 20px;
	cursor: pointer;
}

#deleteGalleryButton {
	width: 150px;
	height: 25px;
	margin-top: 25px;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	color: #D65353;
	border: none;
	background-color: white;
	cursor: pointer;
}

/*Modal d'ajout de projet*/

#returnGallery {
	background-color: white;
	border: none;
	color: black;
	width: 24px;
	height: 24px;
	font-size: 20px;
	cursor: pointer;
	margin-right: 92%;
}

#addImageForm {
	display: flex;
	flex-direction: column;
	height: 90%;
	min-height: 400px;
	width: 70%;
	align-items: center;
	justify-content: space-around;
}

#addImageSection {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	width: 100%;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#addImageSection i {
	font-size: 70px;
	color: #B9C5CC;
}

#addImageSection p {
	font-family: Work Sans;
	font-size: 12px;
}

#fileInputLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 1000;
	border: none;
	cursor: pointer;
}

#fileInput {
	display: none;
}

.addImageRessourceLabel {
	display: flex;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	align-items: start;
	margin-top: 15px;
}

.addImageRessource {
	border: none;
	width: 100%;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
	font-family: Work Sans;
	font-size: 16px;
	padding-left: 10px;
	outline: none;
}

#addImageTitle {
	width: 97%;
}

#sendFormButton {
	height: 50px;
	width: 60%;
	border: none;
	color: white;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	background: #A7A7A7;
	border-radius: 60px;
	margin-top: 20px;
	cursor: pointer;
}

.wrongFileText {
	font-family: Work Sans;
	font-weight: 700;
	font-size: 15px;
}

#selectedImage {
	height: 200px;
}

#selectedImage img {
	height: 100%;
}